In [2]:
%%capture
!pip install rpy2

In [3]:
import rpy2.robjects as ro
from rpy2.robjects import r

<rpy2.robjects.vectors.StrVector object at 0x78c0352a7880> [RTYPES.STRSXP]
R classes: ('character',)
['mundodes']

In [ ]:
# Load the RData file
ro.r['load']('mundodes.RData')

In [4]:
print(r['ls']())

[1] "mundodes"

In [5]:
# Extract the R object 'mundodes'
mundodes = ro.r['mundodes']

# Write the R object to a CSV file with row names
ro.r('write.csv(mundodes, "mundodes.csv", row.names=TRUE)')

<rpy2.rinterface_lib.sexp.NULLType object at 0x78c043ba3d40> [RTYPES.NILSXP]

In [7]:
print(mundodes)

                 nat mort mort_inf esp_homb esp_muj   pnb
Albania         24.7  5.7     30.8     69.6    75.5   600
Bulgaria        12.5 11.9     14.4     68.3    74.7  2250
Checos          13.4 11.7     11.3     71.8    77.7  2980
Hungria         11.6 13.4     14.8     65.4    73.8  2780
Polonia         14.3 10.2     16.0     67.2    75.7  1690
Rumania         13.6 10.7     26.9     66.5    72.4  1640
URSS            17.7 10.0     23.0     64.6    74.0  2242
Bielorrusia     15.2  9.5     13.1     66.4    75.9  1880
Ucrania         13.4 11.6     13.0     66.4    74.8  1320
Argentina       20.7  8.4     25.7     65.5    72.7  2370
Bolivia         46.6 18.0    111.0     51.0    55.4   630
Brasil          28.6  7.9     63.0     62.3    67.6  2680
Chile           23.4  5.8     17.1     68.1    75.1  1940
Colombia        27.4  6.1     40.0     63.4    69.2  1260
Ecuador         32.9  7.4     63.0     63.4    67.6   980
Guayana         28.3  7.3     56.0     60.4    66.1   330
Paraguay        34.8  6.6     42.0     64.4    68.5  1110
Per\xfa         32.9  8.3    109.9     56.8    66.5  1160
Uruguay         18.0  9.6     21.9     68.4    74.9  2560
Venezuela       27.5  4.4     23.3     66.7    72.8  2560
Mexico          29.0 23.2     43.0     62.1    66.0  2490
B\xe9lgica      12.0 10.6      7.9     70.0    76.8 15540
Finlandia       13.2 10.1      5.8     70.7    78.7 26040
Dinamarca       12.4 11.9      7.5     71.8    77.7 22080
Francia         13.6  9.4      7.4     72.3    80.5 19490
Alemania        11.4 11.2      7.4     71.8    78.4 22320
Grecia          10.1  9.2     11.0     65.4    74.0  5990
Irlanda         15.1  9.1      7.5     71.0    76.7  9550
Italia           9.7  9.1      8.8     72.0    78.6 16830
Paises Bajos    13.2  8.6      7.1     73.3    79.9 17320
Noruega         14.3 10.7      7.8     67.2    75.7 23120
Portugal        11.9  9.5     13.1     66.5    72.4  7600
Espa\xf1a       10.7  8.2      8.1     72.5    78.6 11020
Suecia          14.5 11.1      5.6     74.2    80.0 23660
Suiza           12.5  9.5      7.1     73.9    80.0 34064
Reino Unido     13.6 11.5      8.4     72.2    77.9 16100
Austria         14.9  7.4      8.0     73.3    79.6 17000
Japon            9.9  6.7      4.5     75.9    81.8 25430
Canada          14.5  7.3      7.2     73.0    79.8 20470
EEUU            16.7  8.1      9.1     71.5    78.3 21790
Afganistan      40.4 18.7    181.6     41.0    42.0   168
Bahrein         28.4  3.8     16.0     66.8    69.4  6340
Iran            42.5 11.5    108.1     55.8    55.0  2490
Irak            42.6  7.8     69.0     63.0    64.8  3020
Israel          22.3  6.3      9.7     73.9    77.4 10920
Jordania        38.9  6.4     44.0     64.2    67.8  1240
Kuwait          26.8  2.2     15.6     71.2    75.4 16150
Oman            45.6  7.8     40.0     62.2    65.8  5220
Arabia Saudi    42.1  7.6     71.0     61.7    65.2  7050
Turkia          29.2  8.4     76.0     62.5    65.8  1630
Emiratos Arabes 22.8  3.8     26.0     68.6    72.9 19860
Bangladesh      42.2 15.5    119.0     56.9    56.0   210
China           21.2  6.7     32.0     68.0    70.9   380
Hong Kong       11.7  4.9      6.1     74.3    80.1 14210
India           30.5 10.2     91.0     52.5    52.1   350
Indonesia       28.6  9.4     75.0     58.5    62.0   570
Malasia         31.6  5.6     24.0     67.5    71.6  2320
Mongolia        36.1  8.8     68.0     60.0    62.5   110
Nepal           39.6 14.8    128.0     50.9    48.1   170
Pakistan        30.3  8.1    107.7     59.0    59.2   380
Filipinas       33.2  7.7     45.0     62.5    66.1   730
Singapur        17.8  5.2      7.5     68.7    74.0 11160
Srilanka        21.3  6.2     19.4     67.8    71.7   470
Tailandia       22.3  7.7     28.0     63.8    68.9  1420
Argelia         35.5  8.3     74.0     61.6    63.3  2060
Angola          47.2 20.2    137.0     42.9    46.1   610
Botswana        48.5 11.6     67.0     52.3    59.7  2040
Congo           46.1 14.6     73.0     50.1    55.3  1010
Egipto          38.8  9.5     49.4     57.8    60.3   600
Etiopia         48.6 20.7    137.0     42.4    45.6   120
Gabon           39.4 16.8    103.0     49.9    53.2   390
Gambia          47.4 21.4    143.0     41.4    44.6   260
Ghana           44.4 13.1     90.0     52.2    55.8   390
Kenya           47.0 11.3     72.0     56.5    60.5   370
Libia           44.0  9.4     82.0     59.1    62.6  5310
Malawi          48.3 25.0    130.0     38.1    41.2   200
Marruecos       35.5  9.8     82.0     59.1    62.5   960
Mozambique      45.0 18.5    141.0     44.9    48.1    80
Namibia         44.0 12.1    135.0     55.0    57.5  1030
Nigeria         48.5 15.6    105.0     48.8    52.2   360
Sierra Leona    48.2 23.4    154.0     39.4    42.6   240
Somalia         50.1 20.2    132.0     43.4    46.6   120
Surafrica       32.1  9.9     72.0     57.5    63.5  2530
Sudan           44.6 15.8    108.0     48.6    51.0   480
Swaziland       46.8 12.5    118.0     42.9    49.5   810
Tunez           31.1  7.3     52.0     64.9    66.4  1440
Uganda          52.2 15.6    103.0     49.9    52.7   220
Tanzania        50.5 14.0    106.0     51.3    54.7   110
Zaire           45.6 14.2     83.0     50.3    53.7   220
Zambia          51.1 13.7     80.0     50.4    52.5   420
Zimbabwe        41.7 10.3     66.0     56.5    60.1   640

In [22]:
!head -n24 mundodes.csv | tail -n8

"Guayana",28.3,7.3,56,60.4,66.1,330
"Paraguay",34.8,6.6,42,64.4,68.5,1110
"Per�",32.9,8.3,109.9,56.8,66.5,1160
"Uruguay",18,9.6,21.9,68.4,74.9,2560
"Venezuela",27.5,4.4,23.3,66.7,72.8,2560
"Mexico",29,23.2,43,62.1,66,2490
"B�lgica",12,10.6,7.9,70,76.8,15540
"Finlandia",13.2,10.1,5.8,70.7,78.7,26040

In [6]:
import pandas as pd

In [28]:
df = pd.read_csv('mundodes.csv', encoding='latin-1', index_col=0)

In [29]:
df.head(19)

              nat  mort  mort_inf  esp_homb  esp_muj   pnb
Albania      24.7   5.7      30.8      69.6     75.5   600
Bulgaria     12.5  11.9      14.4      68.3     74.7  2250
Checos       13.4  11.7      11.3      71.8     77.7  2980
Hungria      11.6  13.4      14.8      65.4     73.8  2780
Polonia      14.3  10.2      16.0      67.2     75.7  1690
Rumania      13.6  10.7      26.9      66.5     72.4  1640
URSS         17.7  10.0      23.0      64.6     74.0  2242
Bielorrusia  15.2   9.5      13.1      66.4     75.9  1880
Ucrania      13.4  11.6      13.0      66.4     74.8  1320
Argentina    20.7   8.4      25.7      65.5     72.7  2370
Bolivia      46.6  18.0     111.0      51.0     55.4   630
Brasil       28.6   7.9      63.0      62.3     67.6  2680
Chile        23.4   5.8      17.1      68.1     75.1  1940
Colombia     27.4   6.1      40.0      63.4     69.2  1260
Ecuador      32.9   7.4      63.0      63.4     67.6   980
Guayana      28.3   7.3      56.0      60.4     66.1   330
Paraguay     34.8   6.6      42.0      64.4     68.5  1110
Perú         32.9   8.3     109.9      56.8     66.5  1160
Uruguay      18.0   9.6      21.9      68.4     74.9  2560

In [31]:
df.loc["Albania"]

nat          24.7
mort          5.7
mort_inf     30.8
esp_homb     69.6
esp_muj      75.5
pnb         600.0
Name: Albania, dtype: float64

In [32]:
df.loc["Perú"]

nat           32.9
mort           8.3
mort_inf     109.9
esp_homb      56.8
esp_muj       66.5
pnb         1160.0
Name: Perú, dtype: float64